{% extends "layout.twig" %}

{% block head %}
{{ parent() }}
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("#item_list").sortable({stop:function(event, ui) {
	    $.ajax({
	    type: "post",
	    url: "{{ doc_root }}/admin/reorder",
	    data: $("#item_list").sortable("serialize")
	    });
	    }
	});
});
</script>
{% endblock %}

{% block navbar %}
	{% include 'navbar.twig' %}
{% endblock %}

{% block navlist %}
	{% include 'navlist.twig' %}
{% endblock %}

{% block content %}
{% if parents %}
<h1>Manage Articles</h1>
<div class="span9">
<ul id="item_list" class="unstyled">
{% for p in parents %}
	<li id="item_{{ p.id }}">
	<dl>
	<div class="parent well row">
	<div class="span3">
		<dt>Title
		{% if p.publish == 0 %}
			<span class="label label-warning">Draft</h1>
		{% endif %}
		</dt>
		<dd><a href="{{ doc_root }}/read/{{ p.slug }}">{{ p.title }}</a></dd>
		<dt>Slug</dt>
		<dd>{{ p.slug }}</dd>
		<dt>Last Edited</dt>
		<dd>{{ p.timestamp }}</dd>
	</div>
	<div class="span4">
		<a href="{{ doc_root }}/admin/edit/{{ p.id }}">Edit</a> / <a href="{{ doc_root }}/admin/add/{{ p.id }}">Add Child</a> / <a href="{{ doc_root }}/admin/delete/{{ p.id }}">Delete</a>
	</div>
	</div>
		{% if p.children %}
		<dl>
			{% for child in p.children %}
			<div class="child well row">
			<div class="span3">
				<dt>Title
				{% if child.publish == 0 %}
					<span class="label label-warning">Draft</span>
				{% endif %}
				</dt>
				<dd><a href="{{ doc_root }}/read/{{ child.slug }}">{{ child.title }}</a></dd>
				<dt>Slug</dt>
				<dd>{{ child.slug }}</dd>
				<dt>Last Edited</dt>
				<dd>{{ child.timestamp }}</dd>
			</div>
			<div class="span4">
				<a href="{{ doc_root }}/admin/edit/{{ child.id }}">Edit</a> / <a href="{{ doc_root }}/admin/delete/{{ child.id }}">Delete</a>
			</div>
			</div>
			{% endfor %}
		</dl>
		<hr />
		{% endif %}
	</dl>
	</li>
{% endfor %}
</ul>
</div>
{% else %}
<p>There are currently no articles.</p>
{% endif %}
{% endblock %}