<li><a href="{{ doc_root }}">Home</a></li>
{% if user %}
<li><a href="{{ doc_root }}/admin/add/0">Add New Article</a></li>
<li><a href="{{ doc_root }}/admin">Manage Articles</a></li>
<li><a href="{{ doc_root }}/admin/users/add">Add User</a></li>
<li><a href="{{ doc_root }}/admin/users">Manage Users</a></li>
{% endif %}