{% if parents %}
	{% for p in parents %}
		<li><a href="{{ doc_root }}/read/{{ p.slug }}">{{ p.title }}</a>
			{% if p.children %}
				<ul>
				{% for child in p.children %}
					<li><a href="{{ doc_root }}/read/{{ child.slug }}">{{ child.title }}</a></li>
				{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
{% endif %}
